version: '3.8'
services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '${DATA_PORT:-80}:80'
      - '${ADMIN_PORT:-81}:81'
      - '${HTTPS_PORT:-443}:443'
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
